attrs==21.2.0
click==8.0.1
coverage==5.5
Flask==2.0.1
-e git+https://github.com/koonwen/YNC-Gym-Counter.git@3974fc48fcf9b7d2102162c02c10ba1a82b66ac6#egg=flaskr
gunicorn==20.1.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
python-dotenv==0.17.1
toml==0.10.2
watchdog==2.1.2
Werkzeug==2.0.1
