{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="qa-group">
            <label for="username">Username:</label>
            <input name="username" id="username" required>
        </div>
        <div class="qa-group">
             <label for="password">Password:</label>
            <input name="password" id="password" required>
        </div>
        <input type="submit" value="Login">
    </form>
{% endblock %}