<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<header class="flex-container">
    <h1>YNC GYM</h1>
</header>
{% if g.user %}
    <nav>
        <ul>
                <li><span>Logged in as: <b class="emphasize">{{ g.user['username'] }}</b></span>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a>
        </ul>
    </nav>
{% endif %}
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>